@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
/* @import url(responsividade-style.css); */
@import url(./menu-hambuguer.css);

:root{
    --bg-yellow: #ffc107;
    --color-a-nav-menu: rgba(0,0,0,.5);
    --color-a-nav-menu-strong: rgba(0, 0, 0, 0.767);
    --font-poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid #ff0000; */
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

html, body{
    width: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* header */

.menu-bg, .header-main-container{
    background-color: var(--bg-yellow);
}

div.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* menu nav */

nav.menu-header ul{
    display: flex;
    align-items: center;
    column-gap: .9rem;
}

nav.menu-header a{
    font-size: .95rem;
    display: block;
    color: var(--color-a-nav-menu);
    transition: .15s;
}

nav.menu-header a:hover{
    color: #000;
}

/* entrar */

nav.menu-header ul li a.singin{
    background: transparent;
    font-size: .9rem;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .75rem 1rem;
    color: #fff;
    transition: .15s;
}

nav.menu-header ul li a.singin:hover{
    color: #000;
    background: #fff;
}

/* main */

main{
    background-color: #e7e7e7;
}

/* main-header */

div.header-main-topo{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 1rem;
    margin: 0 auto;
}

/* esquerda */

section.esquerda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    max-width: 550px;
}

/* texto inicial */

article.textoInicial h1{
    font-size: 3.5rem;
    font-family: var(--font-poppins);
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

article.textoInicial p{
    line-height: 1.18rem;
}

/* cadastrar e-mail */

form.cadastrarEmail{
    margin: 1.4rem 0;
    display: flex;
}

form.cadastrarEmail input[type="email"], form.cadastrarEmail input[type="submit"]{
    height: 47px;
    border: 0;
    outline: none;
    padding: .5rem .8rem;
}

form.cadastrarEmail input[type="email"]{
    width: 100%;
    border-radius: 5px 0 0 5px;
}

form.cadastrarEmail input[type="email"]::placeholder, form.cadastrarEmail input[type="email"], form.cadastrarEmail input[type="submit"]{
    font-size: 1rem;
    font-family: var(--font-poppins);
    font-weight: 400;
}

form.cadastrarEmail input[type="submit"]{
    background-color: var(--color-a-nav-menu);
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: .15s;
}

form.cadastrarEmail input[type="submit"]:hover{
    background-color: var(--color-a-nav-menu-strong);
}

/* disponibilidade mobile */

article.mobile p a.icons, section.redes a.icons, section.ancoraTopo a{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    padding: .6rem .7rem;
    transition: .15s;
}

article.mobile p a.icons:hover{
    background-color: #fff;
    color: #000;
}

/* section postagens */

section.sobre{
    border-bottom: 1px solid #cccccc;
    padding: 3.5rem 0;
}

div.secao{
    max-width: 1100px;
    padding: 0 1em;
    margin: 0 auto;
}

section.sobre section{
    display: flex;
    align-items: center;
}

section.sobre h2{
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: .8rem;
}

section.sobre p{
    margin-bottom: .8rem;
    line-height: 1.2rem;
    color: #131313;
}

/* margins dos postagens */

.direitinha{
    margin-left: 3rem;
}

.esquerdinha{
    margin-right: 3rem;
}

/*botao veja mais*/

article a.seeplus{
    padding: .6rem .8rem;
    display: inline-block;
    background-color: var(--bg-yellow);
    color: #fff;
    border-radius: 5px;
}

article a.seeplus:hover{
    color: var(--bg-yellow);
    background-color: #fff;
    outline: 2px solid var(--bg-yellow);
}

/*footer main*/

footer.footer-main{
    padding: 4rem 0;
    border-bottom: 1px solid #cccccc;
}

div.footer-main-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.footer-main-container section{
    display: flex;
    flex-flow: column wrap;
    max-width: 350px;
    line-height: 1.2rem;
    color: var(--color-a-nav-menu);
}

div.footer-main-container section article{
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    margin: .8rem 0;
}

div.footer-main-container section article h3{
    font-family: var(--font-poppins);
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
}

/* footer*/

footer.baixo{
    padding: 1.5rem 1rem;
}

div.footer-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* menu footer */

section.ancoraTopo a{
    color: var(--color-a-nav-menu);
}

section.ancoraTopo a:hover{
    color: var(--color-a-nav-menu-strong);
}

article.copyright p{
    color: var(--color-a-nav-menu);
    font-size: 1rem;
    margin-top: .5rem;
}

/* redes footer */

section.redes{
    display: flex;
    column-gap: .7rem;
}

section.redes a.footer-icon, section.ancoraTopo a{
    border-color: var(--color-a-nav-menu);
    color: var(--color-a-nav-menu);
}

section.redes a.footer-icon:hover, section.ancoraTopo a:hover{
    border-color: var(--color-a-nav-menu-strong);
    background-color: var(--color-a-nav-menu-strong);
    color: #fff;
}