:root{
    --purple: #7c25f8;
    --cian: #9bf0e1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body, html{
    font-family: 'arial', sans-serif;
    overflow-x: hidden;
    background: url(../img/capa.png), url(../img/ruido.png), linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
}

/* header */

header.header{
    position: fixed;
    width: 100%;
    background-color: #0000009e;
    z-index: 5;
}

header section.header-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.header-menu ul{
    display: flex;
    align-items: center;
    column-gap: .4rem;
}

nav.header-menu ul span{
    color: #fff;
    padding: .2rem .3rem;
}

nav.header-menu ul li a{
    color: #fff;
    display: block;
    padding: .2rem .5rem;
}

nav.header-menu ul li a:hover{
    color: var(--cian);
}

/* main */

main section.main-container header{
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
    background: none;
    display: flex;
    align-items: center;
}

section.carrosel{
    display: flex;
}

article.carrosel-content h1{
    font-size: 6rem;
    font-weight: 900;
}

/* sobre spotify */

section.about-spotify-container{
    background-color: #fff;
}

section.about-spotify, section.easy-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
}

section.about-spotify figure.imagens{
    max-width: 532px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 2rem;
}

section.about-spotify article.about-content{
    padding: 0 2rem;
}

article.about-content h2, article.about-content h3{
    color: var(--purple);
    margin-bottom: .8rem;
}

article.about-content h2{
    font-size: 3rem;
}

article.about-content h3{
    font-size: 2rem;
}

article.about-content p{
    line-height: 1.35rem;
    margin-bottom: .8rem;
}

/* easy */

section.main-container section.easy-container{
    display: flex;
    /* justify-content: space-between; */
}

section.easy-container article.about-content{
    max-width: 350px;
    padding: 0;
}

article.second-color h2, article.second-color p{
    color: #fff;
}

article.second-color h3{
    color: var(--cian);
}

figure.celulares{
    display: flex;
    column-gap: 2rem;
    margin-left: 7rem;
    transform: rotate(30deg);
}

figure.celulares img{
    width: 300px;
}

/* footer */

footer{
    background-color: #000;
    padding: 2rem 0 1.5rem;
    position: relative;
}